*, *::before, *::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 100px;
    text-align: end;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
    align-items: flex-start;
    position: relative;
}

input{
    border: none;
    background: #f2f2f2;
    appearance: none;
    outline: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: -55px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unit-conversion{
    color: rgb(180, 180, 180);
    font-size: 11px;
    align-self: flex-end;
    margin-right: 10px;
}

.input-conversion{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.img-container{
    display: inline-block;
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.active{
    background-color: rgb(0, 0, 179);
    color: white;
}

.currency{
    margin-left: 10px;
}

body {
    height: 100%;
}

.container{
    height: 100%;
    margin: 0 200px 200px 200px;
}

h1{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin-top: 100px;
    font-weight: 400;
    font-size: 20px;
}

 